@charset "UTF-8";
/* 변수 */
/* green */
/* reset */
body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, iframe {
  margin: 0;
  padding: 0;
}

body, input, textarea, select, button, table {
  font-family: '맑은 고딕', Malgun Gothic, '돋움', Dotum, '굴림', Gulim, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
}

html {
  height: 100%;
}

img, fieldset {
  border: 0;
}

input, textarea, select {
  border-radius: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
}

ul, ol {
  list-style: none;
}

em, address {
  font-style: normal;
}

img {
  vertical-align: top;
}

a {
  color: #333;
  text-decoration: none;
}

article, aside, dialog, footer, header, section, footer, nav, figure, figcaption, main {
  display: block;
  margin: 0;
  padding: 0;
}

button {
  border: 0 none;
  background: transparent;
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

select, input, button {
  vertical-align: middle;
}

hr, legend {
  display: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: none;
  border: none;
}

caption {
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  text-indent: -999em;
  overflow: hidden;
}

h1, h2 {
  font-weight: normal;
}

/* common */
.fl {
  float: left;
}

.fr {
  float: right;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.clearfix {
  clear: both;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.blind {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.break {
  word-break: keep-all;
  word-wrap: break-word;
}

.fz0 {
  /* 자식요소 inline-block 공백 제거 */
  font-size: 0;
}

.point1 {
  color: #02a5af;
}

.t_point1 {
  /* t = text */
  padding-left: 16px;
  line-height: 1.5;
  font-size: 12px;
  color: #666;
  background: url(../../resources/images/innovation/icon_t_point1.png) no-repeat 0 3px;
  background-size: 12px;
}

.ib {
  display: inline-block;
}

.line_clamp2, .line_clamp3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.line_clamp3 {
  -webkit-line-clamp: 3;
}

.area_btn .area_l, .area_btn .area_r {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
}
.area_btn .area_l {
  padding-right: 6px;
}
.area_btn .area_r {
  padding-left: 6px;
}

.btn_like, .link_reply, .btn_share2 {
  padding-left: 18px;
  color: #999;
  vertical-align: middle;
  font-size: 12px;
  line-height: 13px;
  background: url(../../resources/images/innovation/sp_count.png) no-repeat 0 1px;
  background-size: 13.5px;
}

.btn_like._on {
  color: #02a5af;
}

.link_reply {
  background-position: 0 -19px;
}

.btn_share2 {
  background-position: 0 -37px;
}

.btn_share {
  display: inline-block;
  width: 41px;
  height: 39px;
  background: url(/resources/images/innovation/sp_btn_share.png) no-repeat;
  background-size: 41px;
}
.btn_share._on {
  background-position: 0 100%;
}

.link_kakao, .link_facebook {
  display: inline-block;
  width: 41px;
  height: 39px;
  vertical-align: top;
  background: url(/resources/images/innovation/sp_icon_sns.png) no-repeat;
  background-size: 41px;
}

.link_facebook {
  background-position: 0 100%;
}

.area_tag {
  margin-left: -4px;
}
.area_tag .tag {
  display: inline-block;
  margin: 5px 0 0 4px;
  padding: 6px 8px 5px;
  text-align: center;
  color: #777;
  font-size: 12px;
  background: #ebf0f4;
}
.area_tag .tag + .tag {
  margin-left: 4px;
}

.box1 {
  border: 1px solid #d7dee4;
}

.row {
  padding: 16px 15px 18px;
}
.row + .row {
  border-top: 1px solid #d7dee4;
}
.row .area_sub {
  margin-top: 18px;
  padding-top: 15px;
  border-top: 1px dotted #d7dee4;
}

.dl1 {
  font-size: 0;
}
.dl1 dt, .dl1 dd {
  font-size: 14px;
}
.dl1 dd {
  color: #666;
}

/* 레이아웃 */
.wrap {
  position: relative;
  max-width: 640px;
  height: 100%;
  margin: 0 auto;
}

/* 링크 & 버튼 */
.link_more {
  display: inline-block;
  padding: 7px 14px 8px;
  font-size: 12px;
  text-align: center;
  border: 1px solid #d8dbde;
}

.link_st1 {
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 0;
  border: 1px solid #b1b6ba;
  font-size: 14px;
  text-align: center;
  background: #fff;
}
.link_st1.s {
  padding: 7px 0 8px;
}
.link_st1.g {
  color: #fff;
  border-color: #687681;
  background: #687681;
}
.link_st1.kakao {
  color: #333;
  border-color: #fbe300;
  background: #fbe300;
}
.link_st1.kakao span {
  display: inline-block;
  padding: 0 0 0 40px;
  line-height: 21px;
  background: url(../../resources/images/innovation/icon_btn_kakao.png) no-repeat;
  background-size: 25.5px;
}
.link_st1.fb {
  border-color: #2c4990;
  background: #2c4990;
  color: #fff;
}
.link_st1.fb span {
  display: inline-block;
  padding: 0 0 0 32px;
  line-height: 22px;
  background: url(../../resources/images/innovation/icon_btn_fb.png) no-repeat;
  background-size: 10px;
}

.btn_more {
  display: block;
  width: 100%;
  padding: 9px 0 8px;
  border: 2px solid #bac6d0;
  text-align: center;
  font-size: 14px;
  color: #8b9aa7;
}
.btn_more span {
  display: inline-block;
  padding-right: 19px;
  background: url(/resources/images/innovation/bg_btnmore.png) no-repeat 100% 50%;
  background-size: 12px;
}

.btn_prev, .btn_next {
  display: inline-block;
  width: 43px;
  height: 35px;
  border: 1px solid #b1b6ba;
  background: url(/resources/images/innovation/sp_prevnext.png) no-repeat 16px 50%;
  background-size: 55px;
}

.btn_next {
  background-position: -28px 50%;
}

.btn_prev + .btn_next {
  margin-left: -1px;
}

/* form 요소 */
.tf1 {
  display: inline-block;
  height: 43px;
  line-height: 43px;
  border: 1px solid #dde3e8;
  font-size: 14px;
  color: #666;
  text-indent: 15px;
  background: #fff;
}

.tfa1 {
  width: 100%;
}

.sel_m {
  display: inline-block;
  height: 45px;
  line-height: 44px;
  border: 1px solid #dde3e8;
  font-size: 14px;
  color: #666;
  text-indent: 20px;
  background: #fff url(../../resources/images/innovation/sp_form.png) no-repeat 100% -65px;
  background-size: 22px;
}
.sel_m.s {
  /* s = small */
  height: 28px;
  line-height: 28px;
  background-position: 100% -73px;
}

.chk1 input[type="checkbox"] {
  position: absolute;
  left: -50000px;
}
.chk1 input[type="checkbox"]:checked + label {
  color: #26c2cc;
  background-position: 100% -29px;
}
.chk1 label {
  padding: 5px 27px 6px 0;
  color: #777;
  cursor: pointer;
  background: url(../../resources/images/innovation/sp_form.png) no-repeat 100% 3px;
  background-size: 22px;
}

/* header */
#header {
  text-align: center;
}
#header h1.logo {
  display: inline-block;
  width: 76.5px;
  height: 36.5px;
  margin: 5.5px 0 5px;
}
#header h1.logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../../resources/images/innovation/img_logo.png) no-repeat;
  background-size: cover;
}
#header .btn_menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  height: 47.5px;
  background: url(../../resources/images/innovation/btn_menu.png) no-repeat 50% 50%;
  background-size: 25px;
}
#header .link_login, #header .link_myinfo {
  position: absolute;
  right: 15px;
  top: 9px;
  width: 30px;
  height: 30px;
  background: url(../../resources/images/innovation/sp_top_login.png) no-repeat 100% 0;
  background-size: 67.5px;
}
#header .link_myinfo {
  background-position: 0 0;
}

#navi {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0;
  width: 195px;
  z-index: 100;
  background-color: #fff;
  overflow-y: scroll;
  -webkit-transform: translateX(-195px);
  transform: translateX(-195px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-align: left;
  letter-spacing: -1px;
  touch-action: none;
}
#navi .ci, #navi .btn_close, #navi a, #navi .li_depth2 {
  background: url(../../resources/images/innovation/sp_menu.png) no-repeat;
  background-size: 56px;
}
#navi .ci {
  display: inline-block;
  width: 56px;
  height: 27.5px;
  margin: 10px 0 10.5px 14.5px;
}
#navi .btn_close {
  /* position: absolute;
  right: 12px;
  top: 10px; */
  float: right;
  margin: 10px 12px 0 0;
  width: 27px;
  height: 27px;
  background-position: 3px -146px;
}
#navi ul {
  border-top: 1px solid #b4bcc5;
}
#navi ul ul {
  padding: 12px 0;
  background: #ebf0f4;
  border-bottom: 1px solid #d1d6dc;
}
#navi ul ul .li_depth2 {
  background-position: 171px -355px;
}
#navi [class^="depth1_"] {
  display: block;
  padding: 20px 0 17px 14px;
  font-size: 17px;
  color: #333;
  background-position: 171px -208px;
}
#navi [class^="depth1_"] p {
  margin-top: 7px;
  color: #888;
  font-size: 13px;
  line-height: 1.6;
}
#navi [class^="depth2_"] {
  display: block;
  padding: 13px 0 13px 50px;
  font-size: 13px;
  color: #333;
}
#navi [class^="depth2_"] + [class^="depth2_"] {
  margin-top: 6.5px;
}
#navi .depth2_180 {
  background-position: 20px -47px;
}
#navi .depth2_good {
  background-position: 20px -93px;
}

#wrap_menu._open #navi {
  -webkit-transform: translateX(0);
  transform: translateX(0px);
}
#wrap_menu._open #bg_navi {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backface-visibility: hidden;
  touch-action: none;
}

/* footer */
#footer {
  position: relative;
  clear: both;
  padding: 22px 0 30px 15px;
  border-top: 1px solid #d7dee4;
  color: #999;
  font-size: 12px;
  line-height: 1.5;
}
#footer address {
  padding-bottom: 14px;
}
#footer .tit {
  display: block;
  padding-bottom: 11px;
  color: #999;
  font-weight: normal;
}
#footer .area_familysite {
  position: relative;
}
#footer .area_familysite ul {
  position: absolute;
  bottom: 32px;
  padding: 7px 0 4px;
  width: 129px;
  border: 1px solid #d4d8d9;
  background: #fff;
}
#footer .area_familysite a {
  display: block;
  width: 100%;
  padding: 6px 0;
  color: #999;
  text-align: center;
}
#footer .area_familysite .btn_family {
  width: 131px;
  padding: 9px 0 8px;
  font-size: 12px;
  color: #999;
  border: 1px solid #d4d8d9;
  text-indent: 15px;
  text-align: left;
  background: url(../../resources/images/innovation/bg_arrow_01.png) no-repeat 100% 50%;
  background-size: 23px;
}
#footer .area_sns {
  margin-left: 2.5px;
  vertical-align: middle;
}
#footer .area_sns a {
  display: inline-block;
  width: 34px;
  height: 18.5px;
  background: url(../../resources/images/innovation/sp_sns.png) no-repeat 14px 0;
  background-size: 82.5px;
}
#footer .area_sns a.band {
  border-left: 1px solid #c5c8cc;
  border-right: 1px solid #c5c8cc;
  background-position: -22px 0;
}
#footer .area_sns a.tistory {
  background-position: -58px 0;
}
#footer .copy {
  margin-top: 15px;
}

/* 메인 */
#main.main {
  padding-bottom: 25px;
  border-bottom: 1px solid #d7dee4;
  background: #ebf0f4;
}

.list_count_main > li {
  float: left;
  width: 50%;
  padding: 20px 0 15px;
  color: #fff;
  font-size: 13px;
  background: #26c2cc;
  text-align: center;
}
.list_count_main > li.better {
  background: #02a5af;
}
.list_count_main > li.better .tit {
  background-position: 0 -39px;
}
.list_count_main > li .tit {
  display: inline-block;
  padding-left: 35px;
  line-height: 28px;
  font-weight: normal;
  font-size: 13px;
  background: url(../../resources/images/innovation/sp_list_count.png) no-repeat;
  background-size: 29.5px;
}
.list_count_main > li span {
  display: block;
  font-size: 30px;
  color: #92f8ff;
}

.box_360 {
  padding: 28px 15px 0;
  background: #fff;
}
.box_360 h1 {
  font-size: 17px;
}
.box_360 > .txt1 {
  color: #888;
}

.list_360 > li {
  position: relative;
  padding: 15px 0 20px;
  line-height: 1.5;
}
.list_360 > li + li {
  border-top: 1px solid #d7dee4;
}
.list_360 > li > a {
  color: #333;
}
.list_360 > li img {
  width: 100%;
}
.list_360 > li figcaption .tit {
  display: block;
  padding: 14px 0 12px;
  font-size: 14px;
}
.list_360 > li .txt {
  margin-right: 71px;
}
.list_360 .area_share {
  position: absolute;
  bottom: 15px;
  right: 0;
  width: 41px;
}
.list_360 .area_share .area_sns {
  display: none;
  position: absolute;
  bottom: 38px;
  left: 0;
}
.list_360 .area_share .area_sns .link_facebook {
  margin-left: 0;
}

.box_180 {
  padding: 28px 15px 20px;
  background: #ebf0f4;
}
.box_180 h1 {
  margin-bottom: 13px;
  font-size: 17px;
}

.article_comment + .article_comment {
  margin-top: 13px;
}
.article_comment .box_contents {
  position: relative;
  padding: 14px 15px;
  color: #333;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(125, 125, 125, 0.3);
}
.article_comment .box_contents .profile, .article_comment .box_contents .name, .article_comment .box_contents .data, .article_comment .box_contents .state, .article_comment .box_contents .btn_like, .article_comment .box_contents .link_reply {
  display: inline-block;
}
.article_comment .box_contents .profile {
  float: left;
  position: relative;
  margin-right: 15px;
}
.article_comment .box_contents .profile .img_profile {
  width: 37.5px;
}
.article_comment .box_contents .profile .badge_good {
  position: absolute;
  top: 15px;
  left: 24px;
  width: 28.5px;
}
.article_comment .box_contents .name, .article_comment .box_contents .date, .article_comment .box_contents .state {
  vertical-align: middle;
}
.article_comment .box_contents .name {
  font-size: 13px;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.article_comment .box_contents .date {
  margin-left: 11px;
  color: #999;
}
.article_comment .box_contents .state img {
  width: 64.5px;
  margin-left: 15px;
}
.article_comment .box_contents .area_count {
  margin-top: 3px;
}
.article_comment .box_contents .txt {
  padding: 12px 0;
  line-height: 1.5;
}

/* e : .article_comment */
.box_goodideas {
  position: relative;
  padding: 20px 0 35px;
  border-top: 1px solid #d7dee4;
  background: #fff;
  text-align: center;
}
.box_goodideas h1 {
  padding-left: 15px;
  text-align: left;
  font-size: 15px;
}
.box_goodideas .img_winner {
  max-width: 320px;
}
.box_goodideas .link_more {
  position: absolute;
  top: 11px;
  right: 15px;
}
.box_goodideas .txt {
  display: none;
  padding: 27px 0 25px;
  text-align: center;
  font-size: 13px;
}
.box_goodideas li {
  display: none;
  display: inline-block;
  width: 25%;
  margin-top: 5px;
  text-align: center;
  font-size: 12px;
  color: #777;
}

.box_tag {
  position: relative;
  padding: 20px 15px 20px;
  border-top: 1px solid #d7dee4;
  background: #fff;
}
.box_tag h1 {
  margin-bottom: 15px;
  font-size: 15px;
}
.box_tag li {
  display: inline-block;
  margin-top: 5px;
  margin-left: 4px;
}
.box_tag li a {
  display: block;
  padding: 6px 8px 5px;
  text-align: center;
  color: #777;
  font-size: 12px;
  background: #ebf0f4;
}

/* 팝업 */
.popup {
  position: relative;
}
.popup .tit_2 {
  padding-bottom: 13px;
  font-size: 15px;
}
.popup .pop_header {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 10px 0 10px 15px;
  background: #3a4a58;
  box-sizing: border-box;
}
.popup .pop_header .tit {
  font-size: 15px;
  color: #fff;
}
.popup .pop_header .btn_close {
  position: absolute;
  top: 7.5px;
  right: 11.5px;
  width: 25px;
  height: 25px;
  background: url(../../resources/images/innovation/btn_popup_close.png) no-repeat 50% 50%;
  background-size: 18px;
}
.popup .pop_main {
  padding: 65px 15px 25px;
}
.popup .area_btn {
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .popup {
    width: 500px;
    height: 505px;
    background: none;
  }
  .popup .pop_header {
    width: 500px;
  }
  .popup .pop_main {
    height: -webkit-calc(100% - 40px);
    height: calc(100% - 40px);
    overflow: auto;
  }
}
/* 팝업(로그인) */
.pop_login .link_st1 {
  width: 100%;
}
.pop_login .link_st1.kakao {
  margin-bottom: 10px;
}
.pop_login .link_st1 + .t_point1 {
  margin-top: 14px;
}
.pop_login .box_easy {
  padding-bottom: 40px;
}

/* 팝업(정보입력 및 약관동의) */
.wrap_tel {
  position: relative;
  padding-left: 93px;
}
.wrap_tel .sel_m {
  position: absolute;
  left: 0;
  top: 0;
}
.wrap_tel + .t_point1 {
  margin: 14px 0 25px;
}

.box_agree {
  position: relative;
  padding: 18px 15px 15px;
  border: 1px solid #dde3e8;
}
.box_agree + .box_agree {
  margin-top: -1px;
}
.box_agree h1 {
  padding-bottom: 15px;
  font-size: 14px;
}
.box_agree .area_agree {
  overflow: auto;
  padding: 13px;
  color: #888;
  background: #ebf0f4;
  font-size: 12px;
}
.box_agree .chk1 {
  position: absolute;
  top: 14.5px;
  right: 15px;
}

/* 아이디어 180 */
.visual_180, .visual_360 {
  position: relative;
  display: table;
  width: 100%;
  background: #13171a url(../../resources/images/innovation/img_visual_01.png) no-repeat 50% 0;
  background-size: auto 100%;
  color: #fff;
}
.visual_180 .inner, .visual_360 .inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.visual_180 .inner > strong, .visual_360 .inner > strong {
  font-size: 22px;
}
.visual_180 .inner > p, .visual_360 .inner > p {
  margin-top: 13px;
  font-size: 13px;
}
.visual_180 .btn_scroll, .visual_360 .btn_scroll {
  position: absolute;
  left: 50%;
  bottom: 15px;
  width: 44px;
  height: 44px;
  margin-left: -22px;
  background: url(../../resources/images/innovation/btn_scroll.png) no-repeat 50% 50%;
  background-size: 31px;
}

.visual_360 {
  background: #13171a url(../../resources/images/innovation/visual_360.png) no-repeat 50% 0;
}

/* 아이디어 180 */
#main.main_180 {
  background: #fff;
}
#main.main_180 .area_link {
  z-index: 10;
  width: 100%;
  padding: 20px 0 22px;
  background: #02a5af;
}
#main.main_180 .area_link .link_idea {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.area_search {
  position: relative;
  padding: 20px 15px;
}
.area_search .tf_search {
  display: inline-block;
  width: 100%;
  padding: 12px 40px;
  border: 2px solid #878f96;
  box-sizing: border-box;
  background: url(../../resources/images/innovation/icon_sharp.png) no-repeat 20px 50%;
  background-size: 9.5px;
}
.area_search .btn_search {
  position: absolute;
  right: 17px;
  top: 21px;
  width: 42px;
  height: 42px;
  line-height: 41px;
  background: url(../../resources/images/innovation/icon_search.png) no-repeat 50% 50%;
  background-size: 17px;
}

.wrap_sort {
  padding: 15px 0 15px 20px;
  border-top: 1px solid #d7dee4;
  border-bottom: 1px solid #d7dee4;
}
.wrap_sort .bar {
  display: inline-block;
  width: 1px;
  height: 13px;
  margin: 0 10px;
  vertical-align: middle;
  background: #e7eaed;
}
.wrap_sort .btn_sort {
  display: inline-block;
  padding-left: 17px;
  font-size: 13px;
  color: #888;
  background: url(../../resources/images/innovation/sp_sort.png) no-repeat 0 4px;
  background-size: 12px;
  vertical-align: middle;
}
.wrap_sort .btn_sort._seleted {
  color: #333;
  background-position: 0 -14px;
}
.wrap_sort .area_result {
  font-size: 13px;
}
.wrap_sort .area_result .tag {
  color: #999;
}

.box_noresult {
  padding: 82px 0 57px;
  text-align: center;
  background: #ebf0f4;
}
.box_noresult .txt1 {
  margin-bottom: 28px;
  font-size: 19px;
}
.box_noresult img {
  width: 59px;
}
.box_noresult + .area_list {
  margin: 0 -15px -20px;
  padding: 15px 0 30px;
  background: #fff;
}

.area_articlemore {
  margin-top: 15px;
}

.header_detail {
  position: relative;
  border-bottom: 1px solid #b4bcc5;
}
.header_detail h1 {
  font-size: 18px;
  line-height: 48px;
  color: #3a4a58;
}
.header_detail .link_prev {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 47.5px;
  height: 47.5px;
  background: url(../../resources/images/innovation/btn_header_prev.png) no-repeat 50% 50%;
  background-size: 13px;
}

.area_info {
  position: relative;
  padding: 10px 15px;
  border-bottom: 1px solid #b4bcc5;
}
.area_info .area_tit {
  margin-right: 70px;
}
.area_info .area_tit .tit {
  font-size: 15px;
}
.area_info .img_state {
  width: 64.5px;
}
.area_info .name {
  display: inline-block;
  margin-left: 11px;
  font-size: 14px;
}
.area_info .date {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 12px;
  color: #888;
}

.area_count .bar {
  display: inline-block;
  width: 1px;
  height: 10.5px;
  margin: 0 8px;
  vertical-align: middle;
  background: #eaeaea;
}

.box_detail .box_content {
  padding: 14px 15px;
}
.box_detail .box_content .area_useridea {
  padding: 15px 0 40px;
  color: #444;
  font-size: 14px;
  line-height: 1.5;
}
.box_detail .area_opinion {
  position: relative;
  border-top: 1px solid #d7dee4;
  border-bottom: 1px solid #d7dee4;
}
.box_detail .area_opinion .tit, .box_detail .area_opinion .comment {
  font-size: 14px;
  color: #444;
}
.box_detail .area_opinion .tit {
  position: absolute;
  left: 15px;
  top: 18px;
  padding-top: 30px;
  letter-spacing: -1px;
  background: url(../../resources/images/innovation/icon_comment.png) no-repeat 50% 0;
  background-size: 27px;
}
.box_detail .area_opinion .comment {
  vertical-align: top;
  line-height: 1.5;
  padding: 19px 15px 23px 100px;
}
.box_detail .area_btn {
  padding: 15px 15px 40px;
}

/* 우수 아이디어 선정 */
.wrap_idea {
  padding: 30px 15px 70px;
}
.wrap_idea > .txt {
  margin-bottom: 25px;
  font-size: 13px;
  color: #888;
}

.list_accordion {
  border: 1px solid #d7dee4;
  border-top: none;
}
.list_accordion .li .a {
  display: block;
  width: 100%;
  line-height: 54px;
  font-size: 14px;
  color: #666;
  border-top: 1px solid #d7dee4;
  background: url(/resources/images/innovation/sp_idealist.png) no-repeat 100% 24px;
  background-size: 30px;
}
.list_accordion .li .a .month {
  display: inline-block;
  width: 110px;
  font-size: 16px;
  color: #333;
  text-align: center;
}
.list_accordion .li .a .txt {
  display: inline-block;
}
.list_accordion .li .box_name {
  display: none;
  padding: 30px 0;
  text-align: center;
  border-top: 1px solid #d7dee4;
  background: #ebf0f4;
}
.list_accordion .li .box_name .img_winner {
  width: 100%;
  max-width: 320px;
}
.list_accordion .li._on .a {
  background-position: 100% -30px;
}
.list_accordion .li._on .box_name {
  display: block;
}
.list_accordion .li._on .month, .list_accordion .li._on .txt {
  color: #03a5b0;
}

/* 작성완료 */
.box_complete {
  padding-top: 20px;
}
.box_complete .txt1 {
  font-size: 20px;
}
.box_complete .txt2 {
  padding-top: 10px;
  font-size: 13px;
  line-height: 1.5;
  color: #666;
}
.box_complete .area_icon {
  padding: 42px 40px;
}

/* 이노베이션 360 */
.main_360 .area_more {
  padding: 10px 0 35px;
}

/*# sourceMappingURL=innovation.css.map */
