@charset "UTF-8";
/* 변수 */
/* green */
/* reset */
body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, iframe {
  margin: 0;
  padding: 0;
}

body, input, textarea, select, button, table {
  font-family: '맑은 고딕', Malgun Gothic, '돋움', Dotum, '굴림', Gulim, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
}

html {
  height: 100%;
}

img, fieldset {
  border: 0;
}

input, textarea, select {
  border-radius: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
}

ul, ol {
  list-style: none;
}

em, address {
  font-style: normal;
}

img {
  vertical-align: top;
}

a {
  color: #333;
  text-decoration: none;
}

article, aside, dialog, footer, header, section, footer, nav, figure, figcaption, main {
  display: block;
  margin: 0;
  padding: 0;
}

button {
  border: 0 none;
  background: transparent;
  cursor: pointer;
  vertical-align: middle;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

select, input {
  vertical-align: middle;
}

hr, legend {
  display: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: none;
  border: none;
}

caption {
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  text-indent: -999em;
  overflow: hidden;
}

h1, h2 {
  font-weight: normal;
}

/* common */
.clearfix {
  clear: both;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.blind {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

.break {
  word-break: keep-all;
  word-wrap: break-word;
}

.fz0 {
  /* 자식요소 inline-block 공백 제거 */
  font-size: 0;
}

.point1 {
  color: #02a5af;
}

.t_point1 {
  /* t = text */
  padding-left: 16px;
  line-height: 1.5;
  font-size: 12px;
  color: #666;
  background: url(../../resources/images/innovation/icon_t_point1.png) no-repeat 0 3px;
  background-size: 12px;
}

.ib {
  display: inline-block;
}

.line_clamp2, .line_clamp3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.line_clamp3 {
  -webkit-line-clamp: 3;
}

.area_btn .area_l, .area_btn .area_r {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
}

.area_btn .area_l {
  padding-right: 6px;
}

.area_btn .area_r {
  padding-left: 6px;
}

/* 레이아웃 */
.wrap {
  position: relative;
  max-width: 640px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* 링크 & 버튼 */
.link_more {
  display: inline-block;
  padding: 7px 14px 8px;
  font-size: 12px;
  text-align: center;
  border: 1px solid #d8dbde;
}

.link_st1 {
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 0;
  border: 1px solid #b1b6ba;
  font-size: 14px;
  text-align: center;
  background: #fff;
}

.link_st1.g {
  color: #fff;
  border-color: #687681;
  background: #687681;
}

.link_st1.kakao {
  color: #333;
  border-color: #fbe300;
  background: #fbe300;
}

.link_st1.kakao span {
  display: inline-block;
  padding: 0 0 0 40px;
  line-height: 21px;
  background: url(../../resources/images/innovation/icon_btn_kakao.png) no-repeat;
  background-size: 25.5px;
}

.link_st1.fb {
  border-color: #2c4990;
  background: #2c4990;
  color: #fff;
}

.link_st1.fb span {
  display: inline-block;
  padding: 0 0 0 32px;
  line-height: 22px;
  background: url(../../resources/images/innovation/icon_btn_fb.png) no-repeat;
  background-size: 10px;
}

/* form 요소 */
.tf1 {
  display: inline-block;
  height: 43px;
  line-height: 43px;
  border: 1px solid #dde3e8;
  font-size: 14px;
  color: #666;
  text-indent: 15px;
  background: #fff;
}

.sel_m {
  display: inline-block;
  height: 45px;
  line-height: 44px;
  border: 1px solid #dde3e8;
  font-size: 14px;
  color: #666;
  text-indent: 20px;
  background: #fff url(../../resources/images/innovation/sp_form.png) no-repeat 100% -65px;
  background-size: 22px;
}

.chk1 input[type="checkbox"] {
  position: absolute;
  left: -50000px;
}

.chk1 input[type="checkbox"]:checked + label {
  color: #26c2cc;
  background-position: 100% -29px;
}

.chk1 label {
  padding: 5px 27px 6px 0;
  color: #777;
  cursor: pointer;
  background: url(../../resources/images/innovation/sp_form.png) no-repeat 100% 3px;
  background-size: 22px;
}

/* header */
#header {
  text-align: center;
}

#header h1 {
  display: inline-block;
  width: 76.5px;
  height: 36.5px;
  margin: 5.5px 0 5px;
}

#header h1 a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../../resources/images/innovation/img_logo.png) no-repeat;
  background-size: cover;
}

#header .btn_menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  height: 47.5px;
  background: url(../../resources/images/innovation/btn_menu.png) no-repeat 50% 50%;
  background-size: 25px;
}

#header .link_login, #header .link_myinfo {
  position: absolute;
  right: 15px;
  top: 9px;
  width: 30px;
  height: 30px;
  background: url(../../resources/images/innovation/sp_top_login.png) no-repeat 100% 0;
  background-size: 67.5px;
}

#header .link_myinfo {
  background-position: 0 0;
}

#navi {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0;
  width: 195px;
  z-index: 100;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
  overflow-y: auto;
  -webkit-transform: translateX(-195px);
  -ms-transform: translateX(-195px);
      transform: translateX(-195px);
  transition: 0.3s ease-in-out;
  text-align: left;
  letter-spacing: -1px;
}

#navi .ci, #navi .btn_close, #navi a, #navi .li_depth2 {
  background: url(../../resources/images/innovation/sp_menu.png) no-repeat;
  background-size: 56px;
}

#navi .ci {
  display: inline-block;
  width: 56px;
  height: 27.5px;
  margin: 10px 0 10.5px 14.5px;
}

#navi .btn_close {
  position: absolute;
  right: 12px;
  top: 10px;
  width: 27px;
  height: 27px;
  background-position: 3px -146px;
}

#navi > ul {
  border-top: 1px solid #b4bcc5;
}

#navi > ul ul {
  padding: 12px 0;
  background: #ebf0f4;
  border-bottom: 1px solid #d1d6dc;
}

#navi > ul ul .li_depth2 {
  background-position: 171px -355px;
}

#navi [class^="depth1_"] {
  display: block;
  padding: 20px 0 17px 14px;
  font-size: 17px;
  color: #333;
  background-position: 171px -208px;
}

#navi [class^="depth1_"] p {
  margin-top: 7px;
  color: #888;
  font-size: 13px;
  line-height: 1.6;
}

#navi [class^="depth2_"] {
  display: block;
  padding: 13px 0 13px 50px;
  font-size: 13px;
  color: #333;
}

#navi [class^="depth2_"] + [class^="depth2_"] {
  margin-top: 6.5px;
}

#navi .depth2_180 {
  background-position: 20px -47px;
}

#navi .depth2_good {
  background-position: 20px -93px;
}

#wrap_menu._open #navi {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0px);
      transform: translateX(0px);
}

#wrap_menu._open #bg_navi {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backface-visibility: hidden;
}

/* footer */
#footer {
  position: relative;
  clear: both;
  padding: 22px 0 30px 15px;
  border-top: 1px solid #d7dee4;
  color: #999;
  font-size: 12px;
  line-height: 1.5;
}

#footer address {
  padding-bottom: 14px;
}

#footer .tit {
  display: block;
  padding-bottom: 11px;
  color: #999;
  font-weight: normal;
}

#footer .area_familysite {
  position: relative;
}

#footer .area_familysite ul {
  position: absolute;
  bottom: 32px;
  padding: 7px 0 4px;
  width: 129px;
  border: 1px solid #d4d8d9;
  background: #fff;
}

#footer .area_familysite a {
  display: block;
  width: 100%;
  padding: 6px 0;
  color: #999;
  text-align: center;
}

#footer .area_familysite .btn_family {
  width: 131px;
  padding: 9px 0 8px;
  font-size: 12px;
  color: #999;
  border: 1px solid #d4d8d9;
  text-indent: 15px;
  text-align: left;
  background: url(../../resources/images/innovation/bg_arrow_01.png) no-repeat 100% 50%;
  background-size: 23px;
}

#footer .area_sns {
  margin-left: 2.5px;
  vertical-align: middle;
}

#footer .area_sns a {
  display: inline-block;
  width: 34px;
  height: 18.5px;
  background: url(../../resources/images/innovation/sp_sns.png) no-repeat 14px 0;
  background-size: 82.5px;
}

#footer .area_sns a.band {
  border-left: 1px solid #c5c8cc;
  border-right: 1px solid #c5c8cc;
  background-position: -22px 0;
}

#footer .area_sns a.tistory {
  background-position: -58px 0;
}

#footer .copy {
  margin-top: 15px;
}

/* 메인 */
#main.main {
  padding-bottom: 25px;
  border-bottom: 1px solid #d7dee4;
  background: #ebf0f4;
}

.list_count_main > li {
  float: left;
  width: 50%;
  padding: 20px 0 15px;
  color: #fff;
  font-size: 13px;
  background: #26c2cc;
  text-align: center;
}

.list_count_main > li.better {
  background: #02a5af;
}

.list_count_main > li.better .tit {
  background-position: 0 -39px;
}

.list_count_main > li .tit {
  display: inline-block;
  padding-left: 35px;
  line-height: 28px;
  font-weight: normal;
  font-size: 13px;
  background: url(../../resources/images/innovation/sp_list_count.png) no-repeat;
  background-size: 29.5px;
}

.list_count_main > li span {
  display: block;
  font-size: 30px;
  color: #92f8ff;
}

.box_360 {
  padding: 28px 15px 0;
  background: #fff;
}

.box_360 h1 {
  font-size: 17px;
}

.list_360 > li {
  padding: 15px 0 20px;
  line-height: 1.5;
}

.list_360 > li + li {
  border-top: 1px solid #d7dee4;
}

.list_360 > li > a {
  color: #333;
}

.list_360 > li img {
  width: 100%;
}

.list_360 > li figcaption .tit {
  display: block;
  padding: 14px 0 12px;
  font-size: 14px;
}

.box_180 {
  padding: 28px 15px 20px;
  background: #ebf0f4;
}

.box_180 h1 {
  margin-bottom: 13px;
  font-size: 17px;
}

.article_comment + .article_comment {
  margin-top: 13px;
}

.article_comment .box_contents {
  position: relative;
  padding: 14px 15px;
  color: #333;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(125, 125, 125, 0.3);
}

.article_comment .box_contents .profile, .article_comment .box_contents .name, .article_comment .box_contents .data, .article_comment .box_contents .state, .article_comment .box_contents .btn_like, .article_comment .box_contents .link_reply {
  display: inline-block;
}

.article_comment .box_contents .profile {
  float: left;
  margin-right: 15px;
}

.article_comment .box_contents .profile img {
  width: 37.5px;
}

.article_comment .box_contents .name {
  font-size: 13px;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.article_comment .box_contents .date {
  margin-left: 11px;
  vertical-align: 3px;
  color: #999;
}

.article_comment .box_contents .area_count {
  margin-top: 3px;
}

.article_comment .box_contents .area_count .btn_like, .article_comment .box_contents .area_count .link_reply {
  padding-left: 18px;
  color: #999;
  line-height: 13px;
  background: url(../../resources/images/innovation/sp_count.png) no-repeat 0 1px;
  background-size: 13.5px;
}

.article_comment .box_contents .area_count .btn_like {
  padding-right: 7px;
  border-right: 1px solid #eaeaea;
}

.article_comment .box_contents .area_count .btn_like._on {
  color: #02a5af;
  /* background-position: 0 -23px; */
}

.article_comment .box_contents .area_count .link_reply {
  margin-left: 7px;
  background-position: 0 -21px;
}

.article_comment .box_contents .txt {
  padding: 12px 0;
  line-height: 1.5;
}

.article_comment .box_contents .area_tag {
  margin-left: -4px;
}

.article_comment .box_contents .area_tag .tag {
  display: inline-block;
  margin: 5px 0 0 4px;
  padding: 6px 8px 5px;
  text-align: center;
  color: #777;
  font-size: 12px;
  background: #ebf0f4;
}

.article_comment .box_contents .area_tag .tag + .tag {
  margin-left: 4px;
}

/* e : .article_comment */
/* 끝나는 주석은 중첩이 5개 이상일 경우 */
.box_goodideas {
  position: relative;
  padding: 20px 15px 35px;
  border-top: 1px solid #d7dee4;
  background: #fff;
}

.box_goodideas h1 {
  font-size: 15px;
}

.box_goodideas .link_more {
  position: absolute;
  top: 11px;
  right: 15px;
}

.box_goodideas .txt {
  padding: 27px 0 25px;
  text-align: center;
  font-size: 13px;
}

.box_goodideas li {
  display: inline-block;
  width: 25%;
  margin-top: 5px;
  text-align: center;
  font-size: 12px;
  color: #777;
}

.box_tag {
  position: relative;
  padding: 20px 15px 20px;
  border-top: 1px solid #d7dee4;
  background: #fff;
}

.box_tag h1 {
  margin-bottom: 15px;
  font-size: 15px;
}

.box_tag li {
  display: inline-block;
  margin-top: 5px;
  margin-left: 4px;
}

.box_tag li a {
  display: block;
  padding: 6px 8px 5px;
  text-align: center;
  color: #777;
  font-size: 12px;
  background: #ebf0f4;
}

/* 팝업 */
.popup {
  position: relative;
}

.popup .tit_2 {
  padding-bottom: 13px;
  font-size: 15px;
}

.popup .pop_header {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 10px 0 10px 15px;
  background: #3a4a58;
  box-sizing: border-box;
}

.popup .pop_header .tit {
  font-size: 15px;
  color: #fff;
}

.popup .pop_header .btn_close {
  position: absolute;
  top: 7.5px;
  right: 11.5px;
  width: 25px;
  height: 25px;
  background: url(../../resources/images/innovation/btn_popup_close.png) no-repeat 50% 50%;
  background-size: 18px;
}

.popup .pop_main {
  padding: 65px 15px 25px;
}

.popup .area_btn {
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .popup {
    width: 500px;
    height: 505px;
    background: none;
  }
  .popup .pop_header {
    width: 500px;
  }
  .popup .pop_main {
    height: calc(100% - 40px);
    overflow: auto;
  }
}

/* 팝업(로그인) */
.pop_login .link_st1 {
  width: 100%;
}

.pop_login .link_st1.kakao {
  margin-bottom: 10px;
}

.pop_login .link_st1 + .t_point1 {
  margin-top: 14px;
}

.pop_login .box_easy {
  padding-bottom: 40px;
}

/* 팝업(정보입력 및 약관동의) */
.wrap_tel {
  position: relative;
  padding-left: 93px;
}

.wrap_tel .sel_m {
  position: absolute;
  left: 0;
  top: 0;
}

.wrap_tel + .t_point1 {
  margin: 14px 0 25px;
}

.box_agree {
  position: relative;
  padding: 18px 15px 15px;
  border: 1px solid #dde3e8;
}

.box_agree + .box_agree {
  margin-top: -1px;
}

.box_agree h1 {
  padding-bottom: 15px;
  font-size: 14px;
}

.box_agree .area_agree {
  overflow: auto;
  padding: 13px;
  color: #888;
  background: #ebf0f4;
  font-size: 12px;
}

.box_agree .chk1 {
  position: absolute;
  top: 14.5px;
  right: 15px;
}
